<div class="col-md-6">
  <div class="gf-form">
    <label class="gf-form-label width-10">Radius</label>
    <input type="text" class="input-small gf-form-input width-15" ng-model="ctrl.panel.radius" ng-change="ctrl.render()" ng-model-onblur=true/>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-10">Decimals</label>
      <input type="number" class="input-small gf-form-input width-15" ng-model="ctrl.panel.decimals" ng-change="ctrl.render()" >
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-10">Units</label>
      <ul class="tight-form-list">
      <div class="dropdown width-15"
                ng-model="ctrl.panel.format"
                dropdown-typeahead="ctrl.unitFormats"
                dropdown-typeahead-on-select="ctrl.onEditorSetFormat($subItem)">
      </li>
    </ul>
  </div>
</div>

<div class="col-md-6">
  <div class="editor-row">
    <div class="section gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label width-10">Default Color</label>
        <label class="gf-form-label">
          <spectrum-picker ng-model="ctrl.panel.defaultColor" ng-change="ctrl.render()" ng-model-onblur="true"/>
        </label>
      </div>
      <div class="gf-form" ng-repeat="threshold in ctrl.panel.thresholds">
        <label class="gf-form-label width-10">Threshold {{$index + 1}}</label>
        <input type="text" class="input-small gf-form-input width-15" ng-model="threshold.value" ng-change="ctrl.render()" ng-model-onblur=true />
        <label class="gf-form-label width-3">%</label>
        <label class="gf-form-label">
          <spectrum-picker ng-model="threshold.color" ng-change="ctrl.render()" ng-model-onblur="true"/>
        </label>
        <label class="gf-form-label">
          <a class="pointer" ng-click="ctrl.onEditorRemoveThreshold($index)">
            <i class="fa fa-trash"/>
          </a>
        </label>
      </div>
      <div class="gf-form">
        <label class="gf-form-label">
          <a class="pointer" ng-click="ctrl.onEditorAddThreshold()">
            Add threshold
          </a>
        </label>
      </div>
    </div>
  </div>
</div>
