<div class="col-md-5">
  <h5 class="section-heading">
    <span>Scratch Pad</span>
    <a style="font-size: 12px" target="_blank" href="http://mathjs.org">
      (uses mathjs)
    </a>
  </h5>
  <div class="gf-form">
    <textarea class="gf-form-input" rows="7"
      ng-change="ctrl.render()" ng-model="ctrl.panel.mathScratchPad"/>
  </div>
</div>

<div class="col-md-4">
  <h5 class="section-heading">Debugger</h5>
  <label>
    {{ ctrl.dots[0].scratchPad | json }}
  </label>
</div>

<div class="col-md-3">
  <div class="gf-form">
    <label class="gf-form-label width-10">Display Value</label>
    <input class="gf-form-input width-15"
      ng-change="ctrl.render()" ng-model="ctrl.panel.mathDisplayValue"/>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-10">Color Value</label>
    <input class="gf-form-input width-15"
      ng-change="ctrl.render()" ng-model="ctrl.panel.mathColorValue"/>
  </div>
</div>
